[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no
default_md = sha256

[ req_distinguished_name ]
C  = US
ST = NY
L  = NYC
O  = Xiao
OU = Xiao
CN = etcd2

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = etcd2
DNS.2 = etcd2.local
IP.1  = 192.168.1.102
IP.2  = 127.0.0.1
